.customlocation-main-container {
  display: flex;
  justify-content: center;
}
.customlocation-form {
  width: 30%;
  text-align: start;
  margin-top: 10px;
}

.weather-display-main-container {
  display: flex;
  justify-content: center;
}

.weather-card {
  width: 30rem;
  margin-top: 15px;
}

.custom-form-label {
  text-align: center;
  font-weight: bold;
  margin-left: 140px;
}

.line-style {
  border-top: 5px solid black;
  margin-top: 10px;
}

.btn-style {
  margin-left: 10px;
}
